<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categories</key>
		<array>
			<string>Flag</string>
			<string>Anthem</string>
			<string>WordsSpoken</string>
			<string>Food</string>
		</array>
		<key>countryCode</key>
		<string>FR</string>
		<key>countryName</key>
		<string>France</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Flag</string>
			<string>Anthem</string>
			<string>WordsSpoken</string>
			<string>Food</string>
		</array>
		<key>countryCode</key>
		<string>ES</string>
		<key>countryName</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Flag</string>
			<string>Anthem</string>
			<string>WordsSpoken</string>
			<string>Food</string>
		</array>
		<key>countryCode</key>
		<string>PT</string>
		<key>countryName</key>
		<string>Portugal</string>
	</dict>
</array>
</plist>
